@model IEnumerable<BankingManagementSystem.Models.Loan>

@{
    ViewData["Title"] = "Loans";
}

<h1>Loans</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoanStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Customer?.FirstName @item.Customer?.LastName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Branch.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LoanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LoanId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
